<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>


	<form role="form" >
		<div class="form-group">
		
			<label class="control-label col-sm-2" for="inputNombreDeporte">Nombre Deporte:</label>
			<div class="col-sm-10">
				<input id="inputNombreDeporte" placeholder="Nombre Deporte"
					ng-model="evento.nombreDeporte" class="form-control">
			</div>

			<label class="control-label col-sm-2" for="inputDisciplina">Disciplina:</label>
			<div class="col-sm-10">
				<input id="inputDisciplina" placeholder="Lugar Evento"
					ng-model="evento.Disciplina" class="form-control">
			</div>
			
			
			
			<pre>Selected date is: <em>{{evento.dt | date:'fullDate' }}</em></pre>

		    <h4>Inline</h4>
		    <div style="display:inline-block; min-height:290px;">
		      <datepicker ng-model="evento.dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)" datepicker-options="dd-MMMM-yyyy"></datepicker>
		    </div>

			

			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-click="altaEvento()" class="btn btn-default">
				Alta Evento</button>
			</div>

		</div>

	</form>
