<style>

</style>



<div class="form-group" style="max-height: 80%!important">

	<label class="control-label col-sm-3" for="inputNombre">Nombre
		Evento:</label>
	<div class="col-sm-9">
		<input id="inputNombre" placeholder="Nombre Evento"
			ng-model="evento.nombre" class="form-control">
	</div>

	<label class="control-label col-sm-3" for="inputPais">Pa&iacutes:</label>
	<div class="col-sm-9">
		<input id="inputPais" placeholder="Pa&iacute;s Evento"
			ng-model="pais.pais" class="form-control">
	</div>
	
	<label class="control-label col-sm-3" for="inputCiudad">Ciudad:</label>
	<div class="col-sm-9">
		<input id="inputCiudad" placeholder="Ciudad Evento"
			ng-model="pais.ciudad" class="form-control">
	</div>

	<label class="control-label col-sm-3" for="inputAño">Año:</label>
	<div class="col-sm-9">
		<input id="inputAnio" placeholder="Año Evento" ng-model="evento.anio"
			class="form-control">
	</div>

<!-- 	<label class="control-label col-sm-3" for="inputHashtag">Hashtag:</label> -->
<!-- 	<div class="col-sm-9"> -->
<!-- 		<input id="inputHashtag" placeholder="Hashtag Evento" -->
<!-- 			ng-model="evento.hashtag" class="form-control"> -->
<!-- 	</div> -->

	<label class="control-label col-sm-3" for="inputTwitter">Twitter:</label>
	<div class="col-sm-9">
		<input id="rol" placeholder="Twitter" ng-model="evento.twitter"
			class="form-control">
	</div>

	<label class="control-label col-sm-3" for="inputFacebook">Facebook:</label>
	<div class="col-sm-9">
		<input id="rol" placeholder="Facebook" ng-model="evento.facebook"
			class="form-control">
	</div>
	
	<label class="control-label col-sm-3" for="inputInstagram">Instagram:</label>
	<div class="col-sm-9">
		<input id="rol" placeholder="Instagram" ng-model="evento.instagram"
			class="form-control">
	</div>

	<label class="control-label col-sm-3" for="inputYoutube">Youtube:</label>
	<div class="col-sm-9">
		<input id="inputYoutube" placeholder="Youtube" ng-model="evento.canalYoutube"
			class="form-control">
	</div>
	<div class="col-md-9">
	
			<label class="control-label col-sm-1" for="datetimepicker1">Fecha Inicio:</label>
		    <div class='col-md-4'>
		        <div class="form-group">
		            <div class='input-group date' id='datetimepicker1'>
		                <input type='text' class="form-control" />
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
		    </div>
		    
		    <label class="control-label col-sm-1" for="datetimepicker2">Fecha Fin:</label>
		    <div class='col-md-4'>
		        <div class="form-group">
		            <div class='input-group date' id='datetimepicker2'>
		                <input type='text' class="form-control" />
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
		    </div>
				
	</div> 
	
	
	<div class="col-sm-3">
		<a ui-sref="formAltaEventoMulti.organizador"
			class="btn btn-success"> Crear Organizador <span
			class="glyphicon glyphicon-circle-arrow-right"></span>
		</a>
	</div>
	
	
	
   



</div>




