<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>


	<form role="form" >
		<div class="form-group">
		
			<label class="control-label col-sm-2" for="inputNombre">Nombre Evento:</label>
			<div class="col-sm-10">
				<input id="inputNombre" placeholder="Nombre Evento"
					ng-model="evento.nombre" class="form-control">
			</div>

			<label class="control-label col-sm-2" for="inputLugar">Lugar:</label>
			<div class="col-sm-10">
				<input id="inputLugar" placeholder="Lugar Evento"
					ng-model="evento.lugar" class="form-control">
			</div>
			
			<label class="control-label col-sm-2" for="inputAño">Año:</label>
			<div class="col-sm-10">
				<input id="inputAnio" placeholder="Año Evento"
					ng-model="evento.anio" class="form-control">
			</div>
			
			<label class="control-label col-sm-2" for="inputHashtag">Hashtag:</label>
			<div class="col-sm-10">
				<input id="inputHashtag" placeholder="Hashtag Evento"
					ng-model="evento.hashtag" class="form-control">
			</div>
			
			<label class="control-label col-sm-2" for="inputTwitter">Twitter:</label>
			<div class="col-sm-10">
				<input id="rol" placeholder="Twitter" ng-model="evento.twitter"
					class="form-control">
			</div>
			
				<label class="control-label col-sm-2" for="inputFacebook">Facebook:</label>
			<div class="col-sm-10">
				<input id="rol" placeholder="Facebook" ng-model="evento.facebook"
					class="form-control">
			</div>
			
			<label class="control-label col-sm-2" for="inputYoutube">Youtube:</label>
			<div class="col-sm-10">
				<input id="rol" placeholder="Youtube" ng-model="evento.canalYoutube"
					class="form-control">
			</div>
			<div class="col-md-6">
			
				<div class="col-md-6">
				<pre>Seleccionar Fecha inicio: <em>{{evento.fechaInicio | date:'fullDate' }}</em></pre>
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="evento.fechaInicio" is-open="statusInicio.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="openInicio($eventInicio)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
	       		</div>
	       		
	       		
				<div class="col-md-6">
				<pre>Seleccionar Fecha fin: <em>{{evento.fechaFin | date:'fullDate' }}</em></pre>
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="evento.fechaFin" is-open="statusFin.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="openFin($eventFin)"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
	       		</div>
            </div>

			

			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-click="altaEvento()" class="btn btn-default">
				Alta Evento</button>
			</div>

		</div>

	</form>
