
		<div class="form-group">
				
			<label class="control-label col-sm-2" for="inputEmail">Email:</label>
			<div class="col-sm-10">
				<input id="rol" placeholder="Email" ng-model="evento.emailOrganizador"
					class="form-control">
			</div>
			
			
			<label class="control-label col-sm-2" for="inputPassword">Password:</label>
			<div class="col-sm-10">
				<input id="inputPassword" placeholder="Password" ng-model="evento.passwordOrganizador"
					class="form-control">
			</div>
			
			<div class="col-sm-offset-10 col-sm-2">
			<button type="submit" ng-click="altaEvento()" class="btn btn-success">
				Alta Evento</button>
			</div>
		</div>
