<style>

.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
form.login input[type="text"], form.login input[type="password"]
{
   
   
    padding: 5px;

   
    margin-bottom: 15px;
   

}

.loader{
	margin-left: 2%;
}

.loginWrap{

background-color: rgba(255, 255, 255, 0.5);
}
</style>

<div class="container center">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap col-md-8 col-md-offset-2 ">
               <h1 class="form-title ">Login</h1>
                <form class="login" name="formAdmin">
	               	<div class="col-md-10 col-md-offset-1 loginWrap jumbotron">
	               
	                    	<div class="row">
								<div ng-show="mensajeValidacion" class="alert alert-danger">{{mensajeValidacion}}</div>
							</div>
							
							<div class="row">
	                   			<input type="text" placeholder="Ejemplo@email.com"  ng-model="usuario.email"  class="col-md-6  form-control" required/>
	                   		</div>
	                   		
	                   		<div class="row">
		                   	 	<input type="password" placeholder="Contrase&ntilde;a" ng-model="usuario.password" class="col-md-6  form-control" required/>
		                  	</div>
		                  	<div class="row">
			                    <input type="submit" ng-disabled="formAdmin.$invalid" value="Login" class="btn btn-success btn-sm col-md-4 col-md-offset-4 " ng-click="loginAdmin()" />
			                    <img class="loader" ng-if="cargando" src="/resources/defecto/img/ajax_loader_gray_32.gif" />
	                   		</div>
	
	                </div>
                </form>
            </div>
        </div>
    </div>
   
</div>
