<style>
.overlay {
    
   
    position:absolute;
    top:0px; bottom:0; left:0; right:0;
    display:block;
    z-index:2;
    background-color:rgba(50,50,50,0.3);
    
}
.center {
    
   
    position:absolute;
    top:20%; bottom:20%; left:20%; right:20%;
   color:white;
    
}
.blur{

 -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px)
}


</style>
<div class="overlay">
<div class="center ">
<h1> Bienvenido a la plataforma SGEM </h1>
<h3> La primer plataforma de creacion de eventos multideportivos </h3>

</div>

</div>
      <header id="myCarousel"  class="carousel slide">
        <!-- Indicators -->
<!--         <ol class="carousel-indicators"> -->
<!--             <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
<!--             <li data-target="#myCarousel" data-slide-to="1"></li> -->
<!--             <li data-target="#myCarousel" data-slide-to="2"></li> -->
<!--         </ol> -->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill blur" style="background-image:url('resources/defecto/img/Slider/1.jpg');"></div>
<!--                 <div class="carousel-caption"> -->
<!--                     <h2>Caption 1</h2> -->
<!--                 </div> -->
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill blur" style="background-image:url('resources/defecto/img/Slider/2.jpg');"></div>
<!--                 <div class="carousel-caption"> -->
<!--                     <h2>Caption 2</h2> -->
<!--                 </div> -->
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill blur" style="background-image:url('resources/defecto/img/Slider/3.jpg');"></div>
<!--                 <div class="carousel-caption"> -->
<!-- <!--                     <h2>deaodeaiudhe iuahdheiu</h2> --> -->
                    
<!--                 </div> -->
            </div>
        </div>

<!--         Controls -->
<!--         <a class="left carousel-control" href="#myCarousel" data-slide="prev"> -->
<!--             <span class="icon-prev"></span> -->
<!--         </a> -->
<!--         <a class="right carousel-control" href="#myCarousel" data-slide="next"> -->
<!--             <span class="icon-next"></span> -->
<!--         </a> -->

    </header>
    


  
