<div id="PerfilWrapper" class="PerfilWrapper FullHeight" >

<div class="PerfilContent col-md-12 FullHeight">

	<div class="HeaderPerfil">
		<div class="col-md-3 ImagenPerfil"> 
		<img ng-src="{{perfil.image}}" alt="Description" style="width:100%;max-height:100%;" />
		</div>
		<div class="col-md-9 FullHeight" style="padding: 0px !important;">
			<div class="col-md-12 TituloPerfil">
			<h1>{{perfil.titulo}}</h1>
			</div>
			
			<div class="col-md-12 bannerPerfil" ></div>
		</div>
	</div>
	<div class="PerfilNews ">
	
	
	</div>

</div>

</div>  