<style>
 	label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
}
</style>

<div class="container">

	<div class="jumbotron text-center">
	    <h1>Registro Usuario</h1>
	    <p> Ingrese la informaci&oacuten del usuario a ingresar en 
	    	<span class="text-danger" ng-bind="nombreTenant"></span>
	    </p>    
	</div>
	
	<form role="form">

		<div class="form-group">

			<label class="control-label col-sm-2" for="email">Email:</label>
			<div class="col-sm-10">
				<input type="email" id="email" placeholder="ejemplo@correo.com" ng-model="usuario.email"
					class="form-control">
			</div>

			<label class="control-label col-sm-2" for="contrasenia">Contrase&ntildea:</label>
			<div class="col-sm-10">
				<input type="password" id="contrasenia" placeholder="Contrase&ntilde;a"
					ng-model="usuario.password" class="form-control">
			</div>

			<label class="control-label col-sm-2" for="facebook">Cuenta Facebook:</label>
			<div class="col-sm-10">
				<input id="facebook" placeholder="Facebook"
					ng-model="usuario.facebook" class="form-control">
			</div>

			<label class="control-label col-sm-2" for="twitter">Cuenta	Twitter:</label>
			<div class="col-sm-10">
				<input id="twitter" placeholder="Twiter"
					ng-model="usuario.twitter" class="form-control">
			</div>
			
			<label class="control-label col-sm-2" for="youtube">Canal Youtube:</label>
			<div class="col-sm-10">
				<input id="youtube" placeholder="Canal Youtube"
					ng-model="usuario.canalYoutube" class="form-control">
			</div>

			<br/>

			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" ng-click="altaUsuarioComun()"
					class="btn btn-default">Aceptar</button>
			</div>

		</div>

	</form>



</div>